<nav class="navbar sticky-top navbar-light bg-light">
	<div class="container">
		  <!-- Links -->
		  <ul class="navbar-nav nav-tabs">
		    <li class="nav-item">
		      <a class="nav-link active" href="">Home</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link disabled" href="#">Teaching</a>
		    </li>
		     <li class="nav-item">
		      <a class="nav-link" href="https://trust.greyc.fr" target='_blank'>Demos</a>
		    </li>
		     <li class="nav-item dropdown">
		      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Research</a>
		      <div class="dropdown-menu" style='position:absolute'>
		      	<a class="dropdown-item disabled" href="#" target='_blank'>State of the Arts</a>
		      	<a class="dropdown-item" href="thesis/">Thesis</a>
		      	<a class="dropdown-item disabled" href="#">Publications</a>
		      	<a class="dropdown-item disabled" href="#">Authors</a>
		      </div>
		    </li>
		     <li class="nav-item dropdown">
		      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Development</a>
		      <div class="dropdown-menu" style='position:absolute'>
		      	<a class="dropdown-item" href="datasets/">Datasets</a>
		      	<a class="dropdown-item disabled" href="#">APIs</a>
		      	<a class="dropdown-item disabled" href="#">Platform</a>
		      </div>
		    </li>
			</ul>
			<ul class="navbar-nav float-right">
		     <li class="nav-item">
		      <a class="nav-link" href="https://migdal.ovh" target='_blank'>About me</a>
		    </li>
		  </ul>
	</div>
</nav>